{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        com.bhauman/figwheel-main {:mvn/version "0.2.0"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        compojure {:mvn/version "1.6.1"}
        hiccup {:mvn/version "2.0.0-alpha2"}
        reagent {:mvn/version "0.8.1"}
        cljs-ajax {:mvn/version "0.8.0"}
        ultra-csv {:mvn/version "0.2.3"}
        re-frame {:mvn/version "0.10.6"}
        secretary {:mvn/version "1.2.3"}
        ;;yogthos/config {:mvn/version "1.1.1"}
        day8.re-frame/http-fx {:mvn/version "0.1.6"}
        ;;cljsjs/react-input-autosize {:mvn/version "2.2.1-1"}
        binaryage/devtools {:mvn/version "0.9.10"}
        com.lucasbradstreet/cljs-uuid-utils {:mvn/version "1.0.2"}
        ;;cljsjs/d3 {:mvn/version "5.9.1-0"}
        day8.re-frame/trace {:mvn/version "0.1.22-react16"}
        ;;re-frisk {:mvn/version "0.5.4.1"}
        ;;cljsjs/showdown {:mvn/version "1.8.6-0"}
        ;;cljsjs/codemirror {:mvn/version "5.44.0-1"}
        }
 :aliases {:fig {:main-opts ["-m" "figwheel.main" "--build" "dev"]}}
 :paths ["src" "src/re_frame_course" "resources" "target"]}
